#testimonial {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  align-items: center;
  padding: 4em 1em;
  border-radius: 1em;
  box-shadow: 2px 2px 10px black;
  color: var(--accent-color);
  gap: 5em;
}

.testimonial_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--accent-color);
  width: 80%;
  gap: 2.5em;
}

.testimonial_list > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  font-size: 1.2em;
  width: 100%;
  box-shadow: 1px 1px 15px white;
  border-radius: 2em;
  height: 20%;
  padding: 1em;
}
.avatar_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.author {
  font-size: 1.0em;
}

.avatar {
  width: 8vw;
}

q {
  font-size: 1.1em;
  font-style: italic;
}

.testimonial_title {
  font-size: 2em;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 0.8em;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .avatar_card {
    font-size: 4vw;
  }

  q {
    font-size: 4vw;
  }
}
