:root {
  --background-color: #020035;
  --accent-color: #8dbbf4;
  --accent-blue: #59a3ff;
  --thirds-color: #f7afb8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 430px) {
  main h2 {
    font-size: 1.2em;
  }

  h1 {
    font-size: 8vw;
  }
}
